<div class="mt-5">Lista de Gêneros</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let genero of generos">
                <td>{{genero.id}}</td>
                <td>{{genero.nome}}</td>
                <td>
<a [routerLink]="['/genero', genero.id]" 
    class="btn btn-primary">Editar</a> &nbsp;
<a (click)="delete(genero.id)" 
    class="btn btn-danger">Remover</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
