<div class="container">
  <h1 class="d-flex">Cadastro de Gêneros</h1>
  <button class="btn btn-primary" (click)="newEntity()"> Novo</button>

  <p-table [value]="categorias" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-categoria>
      <tr>
        <td>{{categoria.id}}</td>
        <td>{{categoria.nome}}</td>
        <td>
          <button type="button" class="btn btn-dark" (click)="edit(categoria)">
            Editar
          </button>

          <button type="button" class="btn btn-danger" (click)="delete(categoria)">
            Remover
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog></p-confirmDialog>

  <p-dialog header="Cadastro" [(visible)]="showDialog" modal="modal">
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control" formControlName="nome">
          </div>
        </div>
      </div>
      <p-footer>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-success">Salvar</button>
      </p-footer>
    </form>
  </p-dialog>

</div>