<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" routerLink="home">PW26S</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="home">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="categoria">Categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" *appHasRole="['ROLE_ADMIN']" routerLink="marca">Marcas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" *appHasRole="['ROLE_ADMIN']" routerLink="produto">Produtos</a>
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <img src="/assets/images/user.png" alt="user" width="48" height="48" class="rounded-circle" />
            &nbsp;&nbsp;&nbsp;
          </li>
          <li class="nav-item">
            <button class="btn btn-danger" style="margin-top: 5px;" (click)="logout()">Sair</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>